//@require "styles/space"
@require "styles/layout"
@require "styles/reset"
@require "styles/util/position"

/// Var.

$bg1 = #201f2d
$bg2 = #0f0f1b
$cc  = #bdbdbd
$pc  = #b39ddb

$goldenRatio = 1.618033


export-reset()


body
  cc $cc $bg1

body
  pl 5rem

$mainw = 54rem

:local(.main)
  w $mainw


:local(.icon)
  $w = ($mainw / 8)

  dis ib
  size $w ($w * $goldenRatio)
  ta cen
  cur ptr
  bdrz 4px

  //&.active
  //  :local(.iconSvg) path
  //    fill rgba($pc, 0.88) !important
  //box-shadow: 0 0 10px #b39ddb inset;

:local(.iconActive)
  shadow 0 0 10px #b39ddb inset

:local(.iconSvg)
  py 1.5rem

  svg
    size 4rem
  path
    fill rgba($cc, 1) !important
    

:local(.iconCode)
  cc rgba($cc, 0.72)
  fz 0.8rem


.block-fixed
  &-top
    u-fill(t, true)
  &-left
    u-fill(l, true)
  &-bottom
    u-fill(b, true)
  &-right
    u-fill(r, true)

.block-center
  mx a

.aside
  size 100%
  min-width 5rem
  bg $bg2

:export
  icon icon
  aside aside
  fixedTop fixed-top
