//@require "styles/space"
@require "styles/layout"
@require "styles/reset"
@require "_config"

export-reset()

html
body
main
[data-reactroot]
  h 100%

body
  cc $cc $bg1

::-webkit-input-placeholder
  cc rgba($pc, 0.56)
