@require "styles/util/position"

:local(.blockFixedTop)
  u-fill(t, true)
:local(.blockFixedRight)
  u-fill(r, true)
:local(.blockFixedBottom)
  u-fill(b, true)
:local(.blockFixedLeft)
  u-fill(l, true)


:local(.blockCenter)
  mx a
